# Ignore virtual environment
venv/

# Ignore other large files
*.pyd
*.dll
*.so
*.log
*.csv
*.pkl

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore environment variables
.env
